@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: 0;
 }

 body {
   background-color: #F8EFD4;
   font-family: montserrat;
 }
 
 ol,
 ul {
     list-style: none;
 }
 
 img {
     max-width: 100%;
 }
 
 img {
     border-style: none;
 }

 .nav {
  height: 150px;
  display: flex;
  justify-content: space-between;
 }

 .logo {
   margin-left: 40px;
   color: #132743;
 }

 .logo h1:hover {
  cursor: pointer;
 }

 .logo h1 {
  font-size: 72px;
 }

 .sub-head {
   font-family: open sans;
   color: #D7385E;
   font-size: 36px;
 }

 .nav ul {
   margin-top: 38px;
   margin-right: 40px;
   display: flex;
   height: 30px;
   width: 600px;
   flex-direction: row;
   justify-content: space-around;
 }

 .nav a{
  text-decoration: none;
  color: #132743;
 }

 ul li:hover {
   cursor: pointer;
   color: #555;
   
 }

 .hero {
  margin: auto;
  width: 90%;
  margin-top: 20px;
 }